In [1]:
import pandas as pd

In [4]:
data=pd.read_csv(r'final_data.csv')

In [6]:
data.head(5)

,Time,Country Name,"Population, total",Population Structure,Population growth,"Unemployment, total (% of total labor force) (modeled ILO estimate)","Labor force, total",Life expectancy index,Life expectancy at birth (Times),Highest GDP contribution industry rate,...,Export value index (2000 = 100),Type has the highest service export contribution rate,Type has the highest merchandise export contribution rate,Type has the highest commercial service export contribution rate,Education Index,Documents,H index,Expected Times of schooling (Times),Mean Times of schooling (Times),GDP growth (annual %)
0,2000,Afghanistan,20779957.0,Young,2-3,11.65,5071019.0,0.551,55.8,NaN,...,100.0,NaN,NaN,NaN,0.235,3.0,66.0,5.9,2.2,NaN
1,2000,Albania,3089027.0,Old,-0,16.58,1343716.0,0.830,74.0,Services,...,100.0,Travel services,Manufactures,Travel services,0.586,44.0,79.0,10.6,8.8,6.950036
2,2000,Algeria,31042238.0,Old,1-2,29.77,8879547.0,0.779,70.6,Industry (including construction),...,100.0,NaN,Fuel,NaN,0.500,546.0,202.0,10.9,5.9,3.800000
3,2000,American Samoa,57816.0,NaN,1-2,NaN,NaN,NaN,NaN,NaN,...,100.0,NaN,NaN,NaN,NaN,3.0,31.0,NaN,NaN,NaN
4,2000,Andorra,65390.0,NaN,1-2,NaN,NaN,0.906,78.9,NaN,...,100.0,NaN,Manufactures,NaN,0.630,1.0,33.0,10.8,9.9,3.528362